<?xml version="1.0" encoding="utf-8"?>
<config>    
	<modules>
		<MGS_Shipped>
			<version>0.1.1</version>
		</MGS_Shipped>
	</modules>
	<global>
		<events>
            <core_collection_abstract_load_before>
                <observers>
                    <mgs_shippedorder>
                        <type>singleton</type>
                        <class>MGS_Shipped_Model_Observer</class>
                        <method>onCoreCollectionAbstractLoadBefore</method>
                    </mgs_shippedorder>
                </observers>
            </core_collection_abstract_load_before>
            <core_layout_block_create_after>
                <observers>
                    <mgs_shippedorder>
                        <class>MGS_Shipped_Model_Observer</class>
                        <method>onCoreLayoutBlockSaleGridCreateAfter</method>
                        <type>singleton</type>
                    </mgs_shippedorder>
                </observers>
            </core_layout_block_create_after>
			<!-- <sales_order_shipment_save_after >
				<observers>
					<mgs_before_shippment>
						<class>MGS_Shipped_Model_Observer</class>
						<method>onSalesOrderShipmentAfter</method>
						<type>singleton</type>
					</mgs_before_shippment>
				</observers>
			</sales_order_shipment_save_after > -->
		</events>
		<models>
            <shipped>
                <class>MGS_Shipped_Model</class>
                <resourceModel>shipped_mysql4</resourceModel>
            </shipped>
            <shipped_mysql4>
                <class>MGS_Shipped_Model_Mysql4</class>
                <entities>
                    <shippedmodel>
                        <table>shipped_table</table>
                    </shippedmodel>
                </entities>
            </shipped_mysql4>
        </models>
        <resources>
            <shipped_setup>
                <setup>
                    <module>MGS_Shipped</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipped_setup>
            <shipped_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipped_write>
            <shipped_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipped_read>
        </resources>
        <helpers>
            <shipped>
                <class>MGS_Shipped_Helper</class>
            </shipped>
        </helpers>
    </global>
</config>    